*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main h1{
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main h1 span{
    background-color: brown;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0 30px;
}

#main h1:nth-child(2){
    margin-top: 60px;
}

#main>#art1{
    height: 300px;
    position: absolute;
    top: 14%;
    left: 6%;
    border-radius: 35px;
}

#main>#art2{
    height: 350px;
    position: absolute;
    bottom: 14%;
    right: 6%;
    border-radius: 35px;
}

nav{
    height: 100px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav2{
    display: flex;
    gap: 55px;
}

#nav3{
    display: flex;
    gap: 55px;
    align-items: center;
}

#nav2 h3{
    text-transform: uppercase;
}

#nav3 h4{
    text-transform: uppercase;
}

#nav3 button{
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
}

img{
    height: 70px;
}

h5{
    position: absolute;
    bottom: 10%;
    left: 45%;
    transform: translate(-50,0);
    font-size: 25px;
}